
/* Default light mode styles */
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-brand {
    color: black;
}

/* Active link styles */
.nav-link.active {
    background-color: rgba(49, 49, 87,0.5);
    border-radius: 50px;
    color: white ;
}

/* Hover effect */
.nav-link:hover {
    background-color: rgb(62, 198, 98); 
    border-radius: 50px;
    color: #000 ;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 5%;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white; /* background color for dropdown */
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    padding: 0.5rem 1rem; /* padding for dropdown items */
    text-decoration: none;
    color: black; /* text color for dropdown items */
}

.dropdown-item:hover {
    background-color: #f8faf8; /* hover effect for dropdown items */
}

/* Space between dark mode button and dropdown */
.me-3 {
    margin-right: 1rem; /* Adjust the margin as necessary */
}

/* Dark mode styles */
body.dark-mode .card {
    background-color: rgba(49, 49, 87, 0.5); /* اللون الداكن للـ card */
    color: white; /* النص في الـ card */
    border-radius: 50px; /* لتطبيق التصميم المطلوب على البطاقة */
}

/* Light mode styles (default) */
.card {
    background-color: #fff; /* اللون الأبيض للـ card في الوضع العادي */
    color: black; /* النص في الوضع العادي */
    border-radius: 10px; /* تقليل الانحناء في الوضع العادي إذا كان ذلك مفضلاً */
}
